################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Last Chance/v17
/Library
/Logs
/obj/Debug
/Packages
/ProjectSettings
/Scenes
/Temp
/UserSettings
